$medium-break-point : 'screen and (min-width: 641px) and (max-width: 759px)';
	$small-break-point : 'screen and (max-width: 640px)';
.hotels-list-header{
	color:white;
	text-align: right;
	margin-bottom: 10px;
  @media #{$small-break-point}{
  	text-align: center;
  }

	&-item{
		position: relative;
		padding-right: 20px;
		text-transform: capitalize;
		&:first-child{
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
	    border-right: 1px solid #f5deb3;
		}
		&:last-child{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
	    border-left: 1px solid #f5deb3;
		}
		&::after{
			font-size: 10px;
  		vertical-align: text-bottom;
  		position: absolute;
	    right: 7px;
  		top: 9px;
		}
		&--dec::after{
			content : '▼';
		}
		&--asc::after{
			content : '▲';
		}
	}
}